@model WebApp.ViewModel.Home.HomeViewModel
@{
    ViewBag.Title = "Welcome";
    ViewBag.Description = "Welcome";
    ViewBag.Keywords = "Welcome";
}
<h1>Welcome to the CLIENT WEBAPP</h1>
<p>
    This website accesses the ServiceBricks server as a client.
    You can modify this application however you like.
    Please visit our website at: <a href="https://ServiceBricks.com" target="_blank">https://ServiceBricks.com</a>.
</p>
<p>     
    <a href="/swagger">View Swagger Page</a>
</p>
